@model Recept
@{
    
}
<tr>

    <td>
        <img src="/uploads/@Model.slika" class="figure-img" style="height:250px;width:250px" />
    </td>
    <td style="color:antiquewhite">
        <h4 style="color:antiquewhite">
            @Html.DisplayFor(modelItem => @Model.naziv)
        </h4>
        @Html.DisplayFor(modelItem => @Model.nacionalnoJelo) <br />
        @Html.DisplayFor(modelItem => @Model.vrstaJela) <br />
        @Html.DisplayFor(modelItem => @Model.vrijemePripreme) min <br />
        Objavio: <a style="color:antiquewhite" asp-action="Details" asp-controller="Korisnik" asp-route-id="@ViewBag.korisnik.Id">@ViewBag.korisnik</a> <br />
        Ocjena: @Model.izracunajOcjenu(@ViewBag.ocjene)

    </td>
    <td>
        @if (User.Identity.IsAuthenticated) { 
        <a style="color:antiquewhite" asp-controller="Recept" asp-action="Details" asp-route-id="@Model.id">Otvori</a>
        }
        @if (User.IsInRole("Administrator"))
        {
            <a style="color:antiquewhite" asp-controller="Recept" asp-action="Delete" asp-route-id="@Model.id"> | Obriši</a>
        }
    </td>
</tr>