@model Michelin.Models.ZahtjevZaPomoc

@{
    ViewData["Title"] = "Details";
}

<h1>Zahtjev za pomoć</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.kategorija)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.kategorija)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.sadrzaj)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.sadrzaj)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.obradjeno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.obradjeno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.korisnik)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.korisnik.korisnickoIme)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Obradi" asp-route-id="@Model.id">Obradi</a> |
    <a asp-action="Index">Povratak na listu</a>
</div>
