@model IEnumerable<Michelin.Models.Korisnik>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prezime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.brojMobitela)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kratkaBiografija)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datumAktivacije)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datumDeaktivacije)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.aktivan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.omiljeniRecepti)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.brojMobitela)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kratkaBiografija)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datumAktivacije)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datumDeaktivacije)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.aktivan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.omiljeniRecepti)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.korisnickoIme">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.korisnickoIme">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.korisnickoIme">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
