@model Michelin.Models.Recept

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Recept</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.naziv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.naziv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vrijemePripreme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vrijemePripreme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nacionalnoJelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nacionalnoJelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vrstaJela)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vrstaJela)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vegansko)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vegansko)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datum)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
